In [1]:
pip install geopy

Collecting geopy
  Downloading https://files.pythonhosted.org/packages/53/fc/3d1b47e8e82ea12c25203929efb1b964918a77067a874b2c7631e2ec35ec/geopy-1.21.0-py2.py3-none-any.whl (104kB)
     |████████████████████████████████| 112kB 22.7MB/s eta 0:00:01
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/8b/62/26ec95a98ba64299163199e95ad1b0e34ad3f4e176e221c40245f211e425/geographiclib-1.50-py3-none-any.whl
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-1.21.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

## data for neighborhoods at Manhattan

In [3]:
!wget -q -O 'newyork_data.json' https://cocl.us/new_york_dataset
print('Data downloaded!')

Data downloaded!

In [4]:
with open('newyork_data.json') as json_data:
    newyork_data = json.load(json_data)

In [5]:
neighborhoods_data = newyork_data['features']

In [6]:
# define the dataframe columns
column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)

In [7]:
neighborhoods.head()

Empty DataFrame
Columns: [Borough, Neighborhood, Latitude, Longitude]
Index: []

In [8]:
for data in neighborhoods_data:
    borough = neighborhood_name = data['properties']['borough'] 
    neighborhood_name = data['properties']['name']
        
    neighborhood_latlon = data['geometry']['coordinates']
    neighborhood_lat = neighborhood_latlon[1]
    neighborhood_lon = neighborhood_latlon[0]
    
    neighborhoods = neighborhoods.append({'Borough': borough,
                                          'Neighborhood': neighborhood_name,
                                          'Latitude': neighborhood_lat,
                                          'Longitude': neighborhood_lon}, ignore_index=True)

In [9]:
neighborhoods.head()

  Borough Neighborhood   Latitude  Longitude
0   Bronx    Wakefield  40.894705 -73.847201
1   Bronx   Co-op City  40.874294 -73.829939
2   Bronx  Eastchester  40.887556 -73.827806
3   Bronx    Fieldston  40.895437 -73.905643
4   Bronx    Riverdale  40.890834 -73.912585

In [10]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(neighborhoods['Borough'].unique()),
        neighborhoods.shape[0]
    )
)

The dataframe has 5 boroughs and 306 neighborhoods.

In [11]:
address = 'New York City, NY'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of New York City are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of New York City are 40.7127281, -74.0060152.

In [12]:
manhattan_data = neighborhoods[neighborhoods['Borough'] == 'Manhattan'].reset_index(drop=True)
manhattan_data.head()

     Borough        Neighborhood   Latitude  Longitude
0  Manhattan         Marble Hill  40.876551 -73.910660
1  Manhattan           Chinatown  40.715618 -73.994279
2  Manhattan  Washington Heights  40.851903 -73.936900
3  Manhattan              Inwood  40.867684 -73.921210
4  Manhattan    Hamilton Heights  40.823604 -73.949688

In [50]:
manhattan_data.shape

(40, 4)

In [24]:
address = 'Manhattan, NY'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Manhattan are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Manhattan are 40.7896239, -73.9598939.

In [52]:
# create map of Manhattan using latitude and longitude values
map_manhattan = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, label in zip(manhattan_data['Latitude'], manhattan_data['Longitude'], manhattan_data['Neighborhood']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_manhattan)  
    
map_manhattan

In [25]:
CLIENT_ID = 'U3L2CZO4I2CN3U4KQ3UKQBTZQYTI5FGONO3IEPZZYXU0IFIE' # your Foursquare ID
CLIENT_SECRET = 'TI42ULVVCXHPAFA4XQLBT5FTJ24PVPPDVQUTLIDBO2L2NRZS' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: U3L2CZO4I2CN3U4KQ3UKQBTZQYTI5FGONO3IEPZZYXU0IFIE
CLIENT_SECRET:TI42ULVVCXHPAFA4XQLBT5FTJ24PVPPDVQUTLIDBO2L2NRZS

In [26]:
# type your answer here
LIMIT = 20
radius = 500
categoryId = '4d4b7105d754a06374d81259'

In [27]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [28]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&categoryId={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET,
            categoryId,
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name'],
            v['venue']['id']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category',
                        'Venue Id']
    
    return(nearby_venues)

In [29]:
# type your answer here

manhattan_venues = getNearbyVenues(names=manhattan_data['Neighborhood'],
                                   latitudes=manhattan_data['Latitude'],
                                   longitudes=manhattan_data['Longitude']
                                  )

Marble Hill
Chinatown
Washington Heights
Inwood
Hamilton Heights
Manhattanville
Central Harlem
East Harlem
Upper East Side
Yorkville
Lenox Hill
Roosevelt Island
Upper West Side
Lincoln Square
Clinton
Midtown
Murray Hill
Chelsea
Greenwich Village
East Village
Lower East Side
Tribeca
Little Italy
Soho
West Village
Manhattan Valley
Morningside Heights
Gramercy
Battery Park City
Financial District
Carnegie Hill
Noho
Civic Center
Midtown South
Sutton Place
Turtle Bay
Tudor City
Stuyvesant Town
Flatiron
Hudson Yards

In [214]:
print(manhattan_venues.shape)
manhattan_venues.head()

(771, 8)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category,Venue Id
0,Marble Hill,40.876551,-73.91066,Arturo's,40.874412,-73.910271,Pizza Place,4b4429abf964a52037f225e3
1,Marble Hill,40.876551,-73.91066,Tibbett Diner,40.880404,-73.908937,Diner,4b79cc46f964a520c5122fe3
2,Marble Hill,40.876551,-73.91066,Dunkin',40.877136,-73.906666,Donut Shop,4b5357adf964a520319827e3
3,Marble Hill,40.876551,-73.91066,Land & Sea Restaurant,40.877885,-73.905873,Seafood Restaurant,4b9c9c6af964a520b27236e3
4,Marble Hill,40.876551,-73.91066,Subway Sandwiches,40.874667,-73.909586,Sandwich Place,4b4f7b65f964a5205a0827e3

In [215]:
manhattan_venues.to_csv('dining_venue_list.csv')

In [31]:
manhattan_venues.shape

(771, 8)

In [33]:
lor = manhattan_venues['Venue Id'].tolist()

In [35]:
len(lor[458:])

313

In [48]:
loprice=[]
lolikes=[]

# data for restaurants detail, price and likes count

In [49]:
for r_id in lor[458:460]:
    url_loop= 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(
    r_id,
    CLIENT_ID, 
    CLIENT_SECRET,
    VERSION, 
    )
    r_detail = requests.get(url_loop).json()
    try:
        loprice.append(r_detail['response']['venue']['price']['tier'])
    except Exception as e:
        loprice.append(-1)
    try:
        lolikes.append(r_detail['response']['venue']['likes']['count'])
    except  Exception as e:
        lolikes.append(-1)
    print(url_loop)

https://api.foursquare.com/v2/venues/5a7cb7bc2105c32f7cdf9fef?client_id=U3L2CZO4I2CN3U4KQ3UKQBTZQYTI5FGONO3IEPZZYXU0IFIE&client_secret=TI42ULVVCXHPAFA4XQLBT5FTJ24PVPPDVQUTLIDBO2L2NRZS&v=20180605
https://api.foursquare.com/v2/venues/5431872b498eec43384fd39d?client_id=U3L2CZO4I2CN3U4KQ3UKQBTZQYTI5FGONO3IEPZZYXU0IFIE&client_secret=TI42ULVVCXHPAFA4XQLBT5FTJ24PVPPDVQUTLIDBO2L2NRZS&v=20180605

In [36]:
pl1 = pd.read_csv('price_likes.csv',index_col=0)

In [37]:
pl1.head()

   price_tier  likes_count
0           1           16
1           1           47
2           1           67
3           2           42
4           1            1

In [53]:
pl1

     price_tier  likes_count
0             1           16
1             1           47
2             1           67
3             2           42
4             1            1
5             2            4
6             1            3
7             4            8
8             1            0
9             1            0
10            1            0
11            2            4
12            1            1
13            1            1
14            2          543
15           -1           15
16            2          825
17            1          229
18            1          500
19            2          717
20            1           23
21            1           31
22            1          192
23            1          104
24            1          198
25            2          517
26           -1          103
27            2          102
28            2           22
29            2           46
30            1          151
31            2          126
32           -1            3
33            2          193
34            2           30
35            2          119
36            2          214
37            2           82
38           -1           66
39            1           19
40            1           11
41           -1            6
42            2           56
43            2           11
44            3           28
45            1           28
46            2           76
47            2           84
48            2          163
49            1            3
50            3            7
51            2           45
52            1           28
53            1            7
54            1           27
55            2          103
56           -1           21
57            1           13
58            1           24
59            2           14
60            1           48
61            2           24
62            1           15
63            3           51
64            3           22
65            1           16
66            1            9
67            1           38
68            1           13
69            2            5
70            2            6
71            2           28
72            2            7
73            1           30
74            1          103
75            3          102
76            1           58
77            2           25
78            1            7
79            1           14
80            2           35
81            2           71
82            1            8
83            1            8
84            1           15
85            1           28
86            2           32
87            2           13
88            2           10
89            1           80
90            1           21
91            1           68
92            2           58
93            1           40
94            2          550
95            2         1225
96            2           78
97           -1           17
98            3           12
99            2          403
100           2           73
101           2           58
102           2           40
103           2           64
104           2           91
105           1           32
106           1            6
107           2          105
108           2            7
109           1           40
110           1           29
111           3           17
112           1            7
113           2           59
114           2           18
115           2          105
116           2           51
117           4          104
118           1           35
119           1            9
120           3           12
121           1           10
122           1           16
123           2          193
124           2           12
125           1           34
126           1            9
127           2            7
128           3           11
129           3           37
130           3           10
131           2           35
132           3           27
133           1           22
134           2           31
135           2           20
136           1           18
137           2          173
138           3           80
139           2           14
140           1           10
141           2            6
142           1           42
143           1           73
144           2          112
145           2           45
146           1           89
147           3           18
148           1           20
149           1            8
150           1           20
151           1           23
152           2            7
153           1           20
154           4          313
155           3          400
156           1          300
157           4          188
158           4           30
159           3          129
160           4          260
161           3          519
162           3           42
163           3          234
164           2           21
165           1           21
166           2           29
167           1           59
168           2          121
169           2          124
170           3           13
171           2           94
172           2          418
173           2           26
174           1          157
175           2           60
176           1          104
177           1          137
178           2           46
179           1           11
180           3          145
181           3           29
182           3          153
183           2           26
184           2           63
185           2           43
186           1           21
187           2          118
188           1           13
189           1          121
190           3           18
191           2           31
192           3          252
193           2          198
194           1          123
195           2          616
196           2           16
197           1           11
198           1           93
199          -1           29
200           3           89
201           2           19
202           3           79
203           2           82
204           2         1219
205           2           17
206           2          488
207           2           16
208           3          140
209           1           13
210           3          102
211           1          115
212           4           32
213           2          293
214           2           14
215           1            6
216           2           24
217           2           24
218           1            2
219           1            0
220           2            0
221          -1            3
222           1            3
223           1            6
224          -1            0
225           1            6
226           2         1977
227           2          286
228           2           30
229           2          322
230           2          439
231           2          240
232           2          200
233           3          594
234           2          154
235           2           21
236           1           74
237           2          365
238           2          369
239           1          130
240           2           21
241           2          325
242           2          341
243           2           18
244           2          323
245           3          128
246           2          136
247           1           52
248           4          170
249           4           25
250           3          621
251           3         1550
252           3          399
253           2          185
254           1           75
255           3          205
256           3          250
257           2          327
258           3          380
259           2           30
260           2          201
261           3          619
262           2          125
263           3          299
264           1            1
265           2            6
266           2         1122
267           2          142
268           2           -1
269           3          107
270           2          195
271           2          250
272           2          105
273           4           64
274           3          409
275           2           23
276           2           74
277          -1           57
278           3          279
279          -1         1150
280          -1          120
281           2           23
282          -1           34
283           2          193
284           2           28
285           3           48
286           2          184
287           1          108
288           2           42
289           4          148
290           4          219
291           1            5
292          -1          143
293           2           51
294           1           62
295           1          347
296          -1           95
297           3          346
298           2          210
299           2          484
300           1           21
301           2           23
302           3          187
303           2           45
304           4           32
305           2           64
306           4          183
307           2          371
308           2           24
309           2          392
310           2          633
311          -1           99
312           3          124
313           2          359
314           4           38
315           4           27
316           2          656
317           2          215
318           3           47
319           2           67
320           4           54
321           2          434
322           1           78
323           2            6
324           1          290
325           4          454
326           4         1126
327           1          108
328           3         1488
329           2            9
330           2         1004
331           2          251
332           3          253
333           3           -1
334           3           23
335           2          405
336           3          228
337           2         1548
338           1          407
339           4          789
340           2           45
341           1          204
342           2          250
343           2         1100
344           2            7
345          -1          208
346           1         1029
347           3          273
348           1          606
349           4          702
350           1          274
351           3          385
352           3          750
353           1          120
354           2           57
355           2           61
356           2          232
357           2          544
358           3          535
359           2          362
360          -1          165
361           1          380
362           3         1449
363           2           57
364           3          816
365           2          442
366           4          212
367           2         1400
368          -1           99
369           2           20
370           2          279
371           2          838
372           2         1080
373           1         1118
374           2          242
375           1           78
376           1          343
377           1          329
378           2          570
379           1          108
380           2          495
381           2          197
382           2          493
383           3          407
384           2         2384
385          -1           81
386           3         1081
387           2          302
388           1           67
389           2           28
390           3           16
391           2          124
392           1           69
393           2          170
394           2           70
395          -1          116
396           2           23
397           2         1727
398           4          123
399          -1          163
400           1           73
401           2         1023
402           1           11
403           1            8
404           1           11
405           1           19
406           3         1437
407          -1           27
408           1           53
409           4          238
410           2          385
411           3          133
412           2          353
413           2         1425
414           3          220
415           2           91
416           3          353
417           3          590
418           4          257
419           4           64
420           3          267
421           2           42
422           1          126
423           4          155
424           2           71
425           1           54
426           2          971
427           2          887
428           1          442
429           2          565
430           3          354
431           2          974
432           1           94
433           2         1009
434           1          451
435           2           15
436           2          959
437           1          171
438           1           46
439           3          392
440           3          289
441           2          302
442           2          749
443           2           55
444           1         1262
445           1           38
446           2           87
447           3         3045
448           1          142
449           2          887
450           3          377
451           3          746
452           1         1262
453           2          502
454           3          307
455           3         1992
456           2          258
457           2           55
458          -1           -1
459          -1           -1
460          -1           -1
461          -1           -1
462          -1           -1
463          -1           -1
464          -1           -1
465          -1           -1
466          -1           -1
467          -1           -1
468          -1           -1
469          -1           -1
470          -1           -1
471          -1           -1
472          -1           -1
473          -1           -1
474          -1           -1
475          -1           -1
476          -1           -1
477          -1           -1
478          -1           -1
479          -1           -1
480          -1           -1
481          -1           -1
482          -1           -1
483          -1           -1
484          -1           -1
485          -1           -1
486          -1           -1
487          -1           -1
488          -1           -1
489          -1           -1
490          -1           -1
491          -1           -1
492          -1           -1
493          -1           -1
494          -1           -1
495          -1           -1
496          -1           -1
497          -1           -1
498          -1           -1
499          -1           -1
500          -1           -1
501          -1           -1
502          -1           -1
503          -1           -1
504          -1           -1
505          -1           -1
506          -1           -1
507          -1           -1
508          -1           -1
509          -1           -1
510          -1           -1
511          -1           -1
512          -1           -1
513          -1           -1
514          -1           -1
515          -1           -1
516          -1           -1
517          -1           -1
518          -1           -1
519          -1           -1
520          -1           -1
521          -1           -1
522          -1           -1
523          -1           -1
524          -1           -1
525          -1           -1
526          -1           -1
527          -1           -1
528          -1           -1
529          -1           -1
530          -1           -1
531          -1           -1
532          -1           -1
533          -1           -1
534          -1           -1
535          -1           -1
536          -1           -1
537          -1           -1
538          -1           -1
539          -1           -1
540          -1           -1
541          -1           -1
542          -1           -1
543          -1           -1
544          -1           -1
545          -1           -1
546          -1           -1
547          -1           -1
548          -1           -1
549          -1           -1
550          -1           -1
551          -1           -1
552          -1           -1
553          -1           -1
554          -1           -1
555          -1           -1
556          -1           -1
557          -1           -1
558          -1           -1
559          -1           -1
560          -1           -1
561          -1           -1
562          -1           -1
563          -1           -1
564          -1           -1
565          -1           -1
566          -1           -1
567          -1           -1
568          -1           -1
569          -1           -1
570          -1           -1
571          -1           -1
572          -1           -1
573          -1           -1
574          -1           -1
575          -1           -1
576          -1           -1
577          -1           -1
578          -1           -1
579          -1           -1
580          -1           -1
581          -1           -1
582          -1           -1
583          -1           -1
584          -1           -1
585          -1           -1
586          -1           -1
587          -1           -1
588          -1           -1
589          -1           -1
590          -1           -1
591          -1           -1
592          -1           -1
593          -1           -1
594          -1           -1
595          -1           -1
596          -1           -1
597          -1           -1
598          -1           -1
599          -1           -1
600          -1           -1
601          -1           -1
602          -1           -1
603          -1           -1
604          -1           -1
605          -1           -1
606          -1           -1
607          -1           -1
608          -1           -1
609          -1           -1
610          -1           -1
611          -1           -1
612          -1           -1
613          -1           -1
614          -1           -1
615          -1           -1
616          -1           -1
617          -1           -1
618          -1           -1
619          -1           -1
620          -1           -1
621          -1           -1
622          -1           -1
623          -1           -1
624          -1           -1
625          -1           -1
626          -1           -1
627          -1           -1
628          -1           -1
629          -1           -1
630          -1           -1
631          -1           -1
632          -1           -1
633          -1           -1
634          -1           -1
635          -1           -1
636          -1           -1
637          -1           -1
638          -1           -1
639          -1           -1
640          -1           -1
641          -1           -1
642          -1           -1
643          -1           -1
644          -1           -1
645          -1           -1
646          -1           -1
647          -1           -1
648          -1           -1
649          -1           -1
650          -1           -1
651          -1           -1
652          -1           -1
653          -1           -1
654          -1           -1
655          -1           -1
656          -1           -1
657          -1           -1
658          -1           -1
659          -1           -1
660          -1           -1
661          -1           -1
662          -1           -1
663          -1           -1
664          -1           -1
665          -1           -1
666          -1           -1
667          -1           -1
668          -1           -1
669          -1           -1
670          -1           -1
671          -1           -1
672          -1           -1
673          -1           -1
674          -1           -1
675          -1           -1
676          -1           -1
677          -1           -1
678          -1           -1
679          -1           -1
680          -1           -1
681          -1           -1
682          -1           -1
683          -1           -1
684          -1           -1
685          -1           -1
686          -1           -1
687          -1           -1

In [43]:
soprice = pd.Series(data=loprice, name='price_tier')

In [44]:
solikes = pd.Series(data=lolikes, name='likes_count')

In [45]:
price_likes = pd.DataFrame({'price_tier':soprice,'likes_count':solikes})

In [47]:
price_likes

   price_tier  likes_count
0          -1           -1

In [59]:
t1 = manhattan_venues.join(pl1)

ValueError: columns overlap but no suffix specified: Index(['price_tier', 'likes_count'], dtype='object')

In [55]:
manhattan_venues=t1[(t1['price_tier']!=-1)&(t1['likes_count']!=-1)]

In [58]:
manhattan_venues[['Neighborhood','price_tier','likes_count']]

           Neighborhood  price_tier  likes_count
0           Marble Hill           1           16
1           Marble Hill           1           47
2           Marble Hill           1           67
3           Marble Hill           2           42
4           Marble Hill           1            1
5           Marble Hill           2            4
6           Marble Hill           1            3
7           Marble Hill           4            8
8           Marble Hill           1            0
9           Marble Hill           1            0
10          Marble Hill           1            0
11          Marble Hill           2            4
12          Marble Hill           1            1
13          Marble Hill           1            1
14            Chinatown           2          543
16            Chinatown           2          825
17            Chinatown           1          229
18            Chinatown           1          500
19            Chinatown           2          717
20            Chinatown           1           23
21            Chinatown           1           31
22            Chinatown           1          192
23            Chinatown           1          104
24            Chinatown           1          198
25            Chinatown           2          517
27            Chinatown           2          102
28            Chinatown           2           22
29            Chinatown           2           46
30            Chinatown           1          151
31            Chinatown           2          126
33            Chinatown           2          193
34   Washington Heights           2           30
35   Washington Heights           2          119
36   Washington Heights           2          214
37   Washington Heights           2           82
39   Washington Heights           1           19
40   Washington Heights           1           11
42   Washington Heights           2           56
43   Washington Heights           2           11
44   Washington Heights           3           28
45   Washington Heights           1           28
46   Washington Heights           2           76
47   Washington Heights           2           84
48   Washington Heights           2          163
49   Washington Heights           1            3
50   Washington Heights           3            7
51   Washington Heights           2           45
52   Washington Heights           1           28
53   Washington Heights           1            7
54               Inwood           1           27
55               Inwood           2          103
57               Inwood           1           13
58               Inwood           1           24
59               Inwood           2           14
60               Inwood           1           48
61               Inwood           2           24
62               Inwood           1           15
63               Inwood           3           51
64               Inwood           3           22
65               Inwood           1           16
66               Inwood           1            9
67               Inwood           1           38
68               Inwood           1           13
69               Inwood           2            5
70               Inwood           2            6
71               Inwood           2           28
72               Inwood           2            7
73               Inwood           1           30
74     Hamilton Heights           1          103
75     Hamilton Heights           3          102
76     Hamilton Heights           1           58
77     Hamilton Heights           2           25
78     Hamilton Heights           1            7
79     Hamilton Heights           1           14
80     Hamilton Heights           2           35
81     Hamilton Heights           2           71
82     Hamilton Heights           1            8
83     Hamilton Heights           1            8
84     Hamilton Heights           1           15
85     Hamilton Heights           1           28
86     Hamilton Heights           2           32
87     Hamilton Heights           2           13
88     Hamilton Heights           2           10
89     Hamilton Heights           1           80
90     Hamilton Heights           1           21
91     Hamilton Heights           1           68
92     Hamilton Heights           2           58
93     Hamilton Heights           1           40
94       Manhattanville           2          550
95       Manhattanville           2         1225
96       Manhattanville           2           78
98       Manhattanville           3           12
99       Manhattanville           2          403
100      Manhattanville           2           73
101      Manhattanville           2           58
102      Manhattanville           2           40
103      Manhattanville           2           64
104      Manhattanville           2           91
105      Manhattanville           1           32
106      Manhattanville           1            6
107      Manhattanville           2          105
108      Manhattanville           2            7
109      Manhattanville           1           40
110      Manhattanville           1           29
111      Manhattanville           3           17
112      Manhattanville           1            7
113      Manhattanville           2           59
114      Central Harlem           2           18
115      Central Harlem           2          105
116      Central Harlem           2           51
117      Central Harlem           4          104
118      Central Harlem           1           35
119      Central Harlem           1            9
120      Central Harlem           3           12
121      Central Harlem           1           10
122      Central Harlem           1           16
123      Central Harlem           2          193
124      Central Harlem           2           12
125      Central Harlem           1           34
126      Central Harlem           1            9
127      Central Harlem           2            7
128      Central Harlem           3           11
129      Central Harlem           3           37
130      Central Harlem           3           10
131      Central Harlem           2           35
132      Central Harlem           3           27
133      Central Harlem           1           22
134         East Harlem           2           31
135         East Harlem           2           20
136         East Harlem           1           18
137         East Harlem           2          173
138         East Harlem           3           80
139         East Harlem           2           14
140         East Harlem           1           10
141         East Harlem           2            6
142         East Harlem           1           42
143         East Harlem           1           73
144         East Harlem           2          112
145         East Harlem           2           45
146         East Harlem           1           89
147         East Harlem           3           18
148         East Harlem           1           20
149         East Harlem           1            8
150         East Harlem           1           20
151         East Harlem           1           23
152         East Harlem           2            7
153         East Harlem           1           20
154     Upper East Side           4          313
155     Upper East Side           3          400
156     Upper East Side           1          300
157     Upper East Side           4          188
158     Upper East Side           4           30
159     Upper East Side           3          129
160     Upper East Side           4          260
161     Upper East Side           3          519
162     Upper East Side           3           42
163     Upper East Side           3          234
164     Upper East Side           2           21
165     Upper East Side           1           21
166     Upper East Side           2           29
167     Upper East Side           1           59
168     Upper East Side           2          121
169     Upper East Side           2          124
170     Upper East Side           3           13
171     Upper East Side           2           94
172     Upper East Side           2          418
173     Upper East Side           2           26
174           Yorkville           1          157
175           Yorkville           2           60
176           Yorkville           1          104
177           Yorkville           1          137
178           Yorkville           2           46
179           Yorkville           1           11
180           Yorkville           3          145
181           Yorkville           3           29
182           Yorkville           3          153
183           Yorkville           2           26
184           Yorkville           2           63
185           Yorkville           2           43
186           Yorkville           1           21
187           Yorkville           2          118
188           Yorkville           1           13
189           Yorkville           1          121
190           Yorkville           3           18
191           Yorkville           2           31
192           Yorkville           3          252
193           Yorkville           2          198
194          Lenox Hill           1          123
195          Lenox Hill           2          616
196          Lenox Hill           2           16
197          Lenox Hill           1           11
198          Lenox Hill           1           93
200          Lenox Hill           3           89
201          Lenox Hill           2           19
202          Lenox Hill           3           79
203          Lenox Hill           2           82
204          Lenox Hill           2         1219
205          Lenox Hill           2           17
206          Lenox Hill           2          488
207          Lenox Hill           2           16
208          Lenox Hill           3          140
209          Lenox Hill           1           13
210          Lenox Hill           3          102
211          Lenox Hill           1          115
212          Lenox Hill           4           32
213          Lenox Hill           2          293
214    Roosevelt Island           2           14
215    Roosevelt Island           1            6
216    Roosevelt Island           2           24
217    Roosevelt Island           2           24
218    Roosevelt Island           1            2
219    Roosevelt Island           1            0
220    Roosevelt Island           2            0
222    Roosevelt Island           1            3
223    Roosevelt Island           1            6
225    Roosevelt Island           1            6
226     Upper West Side           2         1977
227     Upper West Side           2          286
228     Upper West Side           2           30
229     Upper West Side           2          322
230     Upper West Side           2          439
231     Upper West Side           2          240
232     Upper West Side           2          200
233     Upper West Side           3          594
234     Upper West Side           2          154
235     Upper West Side           2           21
236     Upper West Side           1           74
237     Upper West Side           2          365
238     Upper West Side           2          369
239     Upper West Side           1          130
240     Upper West Side           2           21
241     Upper West Side           2          325
242     Upper West Side           2          341
243     Upper West Side           2           18
244     Upper West Side           2          323
245     Upper West Side           3          128
246      Lincoln Square           2          136
247      Lincoln Square           1           52
248      Lincoln Square           4          170
249      Lincoln Square           4           25
250      Lincoln Square           3          621
251      Lincoln Square           3         1550
252      Lincoln Square           3          399
253      Lincoln Square           2          185
254      Lincoln Square           1           75
255      Lincoln Square           3          205
256      Lincoln Square           3          250
257      Lincoln Square           2          327
258      Lincoln Square           3          380
259      Lincoln Square           2           30
260      Lincoln Square           2          201
261      Lincoln Square           3          619
262      Lincoln Square           2          125
263      Lincoln Square           3          299
264      Lincoln Square           1            1
265      Lincoln Square           2            6
266             Clinton           2         1122
267             Clinton           2          142
269             Clinton           3          107
270             Clinton           2          195
271             Clinton           2          250
272             Clinton           2          105
273             Clinton           4           64
274             Clinton           3          409
275             Clinton           2           23
276             Clinton           2           74
278             Clinton           3          279
281             Clinton           2           23
283             Clinton           2          193
284             Clinton           2           28
285             Clinton           3           48
286             Midtown           2          184
287             Midtown           1          108
288             Midtown           2           42
289             Midtown           4          148
290             Midtown           4          219
291             Midtown           1            5
293             Midtown           2           51
294             Midtown           1           62
295             Midtown           1          347
297             Midtown           3          346
298             Midtown           2          210
299             Midtown           2          484
300             Midtown           1           21
301             Midtown           2           23
302             Midtown           3          187
303             Midtown           2           45
304             Midtown           4           32
305             Midtown           2           64
306         Murray Hill           4          183
307         Murray Hill           2          371
308         Murray Hill           2           24
309         Murray Hill           2          392
310         Murray Hill           2          633
312         Murray Hill           3          124
313         Murray Hill           2          359
314         Murray Hill           4           38
315         Murray Hill           4           27
316         Murray Hill           2          656
317         Murray Hill           2          215
318         Murray Hill           3           47
319         Murray Hill           2           67
320         Murray Hill           4           54
321         Murray Hill           2          434
322         Murray Hill           1           78
323         Murray Hill           2            6
324         Murray Hill           1          290
325         Murray Hill           4          454
326             Chelsea           4         1126
327             Chelsea           1          108
328             Chelsea           3         1488
329             Chelsea           2            9
330             Chelsea           2         1004
331             Chelsea           2          251
332             Chelsea           3          253
334             Chelsea           3           23
335             Chelsea           2          405
336             Chelsea           3          228
337             Chelsea           2         1548
338             Chelsea           1          407
339             Chelsea           4          789
340             Chelsea           2           45
341             Chelsea           1          204
342             Chelsea           2          250
343             Chelsea           2         1100
344             Chelsea           2            7
346   Greenwich Village           1         1029
347   Greenwich Village           3          273
348   Greenwich Village           1          606
349   Greenwich Village           4          702
350   Greenwich Village           1          274
351   Greenwich Village           3          385
352   Greenwich Village           3          750
353   Greenwich Village           1          120
354   Greenwich Village           2           57
355   Greenwich Village           2           61
356   Greenwich Village           2          232
357   Greenwich Village           2          544
358   Greenwich Village           3          535
359   Greenwich Village           2          362
361   Greenwich Village           1          380
362   Greenwich Village           3         1449
363   Greenwich Village           2           57
364   Greenwich Village           3          816
365   Greenwich Village           2          442
366        East Village           4          212
367        East Village           2         1400
369        East Village           2           20
370        East Village           2          279
371        East Village           2          838
372        East Village           2         1080
373        East Village           1         1118
374        East Village           2          242
375        East Village           1           78
376        East Village           1          343
377        East Village           1          329
378        East Village           2          570
379        East Village           1          108
380        East Village           2          495
381        East Village           2          197
382        East Village           2          493
383        East Village           3          407
384        East Village           2         2384
386     Lower East Side           3         1081
387     Lower East Side           2          302
388     Lower East Side           1           67
389     Lower East Side           2           28
390     Lower East Side           3           16
391     Lower East Side           2          124
392     Lower East Side           1           69
393     Lower East Side           2          170
394     Lower East Side           2           70
396     Lower East Side           2           23
397     Lower East Side           2         1727
398     Lower East Side           4          123
400     Lower East Side           1           73
401     Lower East Side           2         1023
402     Lower East Side           1           11
403     Lower East Side           1            8
404     Lower East Side           1           11
405     Lower East Side           1           19
406             Tribeca           3         1437
408             Tribeca           1           53
409             Tribeca           4          238
410             Tribeca           2          385
411             Tribeca           3          133
412             Tribeca           2          353
413             Tribeca           2         1425
414             Tribeca           3          220
415             Tribeca           2           91
416             Tribeca           3          353
417             Tribeca           3          590
418             Tribeca           4          257
419             Tribeca           4           64
420             Tribeca           3          267
421             Tribeca           2           42
422             Tribeca           1          126
423             Tribeca           4          155
424             Tribeca           2           71
425             Tribeca           1           54
426        Little Italy           2          971
427        Little Italy           2          887
428        Little Italy           1          442
429        Little Italy           2          565
430        Little Italy           3          354
431        Little Italy           2          974
432        Little Italy           1           94

In [56]:
manhattan_venues.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category,Venue Id,price_tier,likes_count
0,Marble Hill,40.876551,-73.91066,Arturo's,40.874412,-73.910271,Pizza Place,4b4429abf964a52037f225e3,1,16
1,Marble Hill,40.876551,-73.91066,Tibbett Diner,40.880404,-73.908937,Diner,4b79cc46f964a520c5122fe3,1,47
2,Marble Hill,40.876551,-73.91066,Dunkin',40.877136,-73.906666,Donut Shop,4b5357adf964a520319827e3,1,67
3,Marble Hill,40.876551,-73.91066,Land & Sea Restaurant,40.877885,-73.905873,Seafood Restaurant,4b9c9c6af964a520b27236e3,2,42
4,Marble Hill,40.876551,-73.91066,Subway Sandwiches,40.874667,-73.909586,Sandwich Place,4b4f7b65f964a5205a0827e3,1,1

In [60]:
manhattan_venues.shape

(432, 10)

In [61]:
from sklearn.preprocessing import StandardScaler

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

array([[-1.15763226e+00, -5.86886315e-01],
       [-1.15763226e+00, -5.04396139e-01],
       [-1.15763226e+00, -4.51176670e-01],
       [ 1.35554129e-02, -5.17701006e-01],
       [-1.15763226e+00, -6.26800917e-01],
       [ 1.35554129e-02, -6.18817997e-01],
       [-1.15763226e+00, -6.21478970e-01],
       [ 2.35593076e+00, -6.08174103e-01],
       [-1.15763226e+00, -6.29461890e-01],
       [-1.15763226e+00, -6.29461890e-01],
       [-1.15763226e+00, -6.29461890e-01],
       [ 1.35554129e-02, -6.18817997e-01],
       [-1.15763226e+00, -6.26800917e-01],
       [-1.15763226e+00, -6.26800917e-01],
       [ 1.35554129e-02,  8.15446687e-01],
       [ 1.35554129e-02,  1.56584120e+00],
       [-1.15763226e+00, -2.00989730e-02],
       [-1.15763226e+00,  7.01024829e-01],
       [ 1.35554129e-02,  1.27845607e+00],
       [-1.15763226e+00, -5.68259501e-01],
       [-1.15763226e+00, -5.46971714e-01],
       [-1.15763226e+00, -1.18554990e-01],
       [-1.15763226e+00, -3.52720653e-01],
       [-1.15763226e+00, -1.02589150e-01],
       [ 1.35554129e-02,  7.46261377e-01],
       [ 1.35554129e-02, -3.58042600e-01],
       [ 1.35554129e-02, -5.70920475e-01],
       [ 1.35554129e-02, -5.07057112e-01],
       [-1.15763226e+00, -2.27654901e-01],
       [ 1.35554129e-02, -2.94179237e-01],
       [ 1.35554129e-02, -1.15894017e-01],
       [ 1.35554129e-02, -5.49632687e-01],
       [ 1.35554129e-02, -3.12806051e-01],
       [ 1.35554129e-02, -6.00135746e-02],
       [ 1.35554129e-02, -4.11262068e-01],
       [-1.15763226e+00, -5.78903395e-01],
       [-1.15763226e+00, -6.00191183e-01],
       [ 1.35554129e-02, -4.80447378e-01],
       [ 1.35554129e-02, -6.00191183e-01],
       [ 1.18474309e+00, -5.54954634e-01],
       [-1.15763226e+00, -5.54954634e-01],
       [ 1.35554129e-02, -4.27227909e-01],
       [ 1.35554129e-02, -4.05940122e-01],
       [ 1.35554129e-02, -1.95723220e-01],
       [-1.15763226e+00, -6.21478970e-01],
       [ 1.18474309e+00, -6.10835076e-01],
       [ 1.35554129e-02, -5.09718086e-01],
       [-1.15763226e+00, -5.54954634e-01],
       [-1.15763226e+00, -6.10835076e-01],
       [-1.15763226e+00, -5.57615608e-01],
       [ 1.35554129e-02, -3.55381626e-01],
       [-1.15763226e+00, -5.94869236e-01],
       [-1.15763226e+00, -5.65598528e-01],
       [ 1.35554129e-02, -5.92208262e-01],
       [-1.15763226e+00, -5.01735165e-01],
       [ 1.35554129e-02, -5.65598528e-01],
       [-1.15763226e+00, -5.89547289e-01],
       [ 1.18474309e+00, -4.93752245e-01],
       [ 1.18474309e+00, -5.70920475e-01],
       [-1.15763226e+00, -5.86886315e-01],
       [-1.15763226e+00, -6.05513130e-01],
       [-1.15763226e+00, -5.28344900e-01],
       [-1.15763226e+00, -5.94869236e-01],
       [ 1.35554129e-02, -6.16157023e-01],
       [ 1.35554129e-02, -6.13496050e-01],
       [ 1.35554129e-02, -5.54954634e-01],
       [ 1.35554129e-02, -6.10835076e-01],
       [-1.15763226e+00, -5.49632687e-01],
       [-1.15763226e+00, -3.55381626e-01],
       [ 1.18474309e+00, -3.58042600e-01],
       [-1.15763226e+00, -4.75125431e-01],
       [ 1.35554129e-02, -5.62937554e-01],
       [-1.15763226e+00, -6.10835076e-01],
       [-1.15763226e+00, -5.92208262e-01],
       [ 1.35554129e-02, -5.36327820e-01],
       [ 1.35554129e-02, -4.40532776e-01],
       [-1.15763226e+00, -6.08174103e-01],
       [-1.15763226e+00, -6.08174103e-01],
       [-1.15763226e+00, -5.89547289e-01],
       [-1.15763226e+00, -5.54954634e-01],
       [ 1.35554129e-02, -5.44310740e-01],
       [ 1.35554129e-02, -5.94869236e-01],
       [ 1.35554129e-02, -6.02852156e-01],
       [-1.15763226e+00, -4.16584015e-01],
       [-1.15763226e+00, -5.73581448e-01],
       [-1.15763226e+00, -4.48515697e-01],
       [ 1.35554129e-02, -4.75125431e-01],
       [-1.15763226e+00, -5.23022953e-01],
       [ 1.35554129e-02,  8.34073501e-01],
       [ 1.35554129e-02,  2.63023057e+00],
       [ 1.35554129e-02, -4.21905962e-01],
       [ 1.18474309e+00, -5.97530209e-01],
       [ 1.35554129e-02,  4.42910405e-01],
       [ 1.35554129e-02, -4.35210829e-01],
       [ 1.35554129e-02, -4.75125431e-01],
       [ 1.35554129e-02, -5.23022953e-01],
       [ 1.35554129e-02, -4.59159590e-01],
       [ 1.35554129e-02, -3.87313308e-01],
       [-1.15763226e+00, -5.44310740e-01],
       [-1.15763226e+00, -6.13496050e-01],
       [ 1.35554129e-02, -3.50059679e-01],
       [ 1.35554129e-02, -6.10835076e-01],
       [-1.15763226e+00, -5.23022953e-01],
       [-1.15763226e+00, -5.52293661e-01],
       [ 1.18474309e+00, -5.84225342e-01],
       [-1.15763226e+00, -6.10835076e-01],
       [ 1.35554129e-02, -4.72464458e-01],
       [ 1.35554129e-02, -5.81564369e-01],
       [ 1.35554129e-02, -3.50059679e-01],
       [ 1.35554129e-02, -4.93752245e-01],
       [ 2.35593076e+00, -3.52720653e-01],
       [-1.15763226e+00, -5.36327820e-01],
       [-1.15763226e+00, -6.05513130e-01],
       [ 1.18474309e+00, -5.97530209e-01],
       [-1.15763226e+00, -6.02852156e-01],
       [-1.15763226e+00, -5.86886315e-01],
       [ 1.35554129e-02, -1.15894017e-01],
       [ 1.35554129e-02, -5.97530209e-01],
       [-1.15763226e+00, -5.38988794e-01],
       [-1.15763226e+00, -6.05513130e-01],
       [ 1.35554129e-02, -6.10835076e-01],
       [ 1.18474309e+00, -6.00191183e-01],
       [ 1.18474309e+00, -5.31005873e-01],
       [ 1.18474309e+00, -6.02852156e-01],
       [ 1.35554129e-02, -5.36327820e-01],
       [ 1.18474309e+00, -5.57615608e-01],
       [-1.15763226e+00, -5.70920475e-01],
       [ 1.35554129e-02, -5.46971714e-01],
       [ 1.35554129e-02, -5.76242422e-01],
       [-1.15763226e+00, -5.81564369e-01],
       [ 1.35554129e-02, -1.69113486e-01],
       [ 1.18474309e+00, -4.16584015e-01],
       [ 1.35554129e-02, -5.92208262e-01],
       [-1.15763226e+00, -6.02852156e-01],
       [ 1.35554129e-02, -6.13496050e-01],
       [-1.15763226e+00, -5.17701006e-01],
       [-1.15763226e+00, -4.35210829e-01],
       [ 1.35554129e-02, -3.31432865e-01],
       [ 1.35554129e-02, -5.09718086e-01],
       [-1.15763226e+00, -3.92635254e-01],
       [ 1.18474309e+00, -5.81564369e-01],
       [-1.15763226e+00, -5.76242422e-01],
       [-1.15763226e+00, -6.08174103e-01],
       [-1.15763226e+00, -5.76242422e-01],
       [-1.15763226e+00, -5.68259501e-01],
       [ 1.35554129e-02, -6.10835076e-01],
       [-1.15763226e+00, -5.76242422e-01],
       [ 2.35593076e+00,  2.03422796e-01],
       [ 1.18474309e+00,  4.34927485e-01],
       [-1.15763226e+00,  1.68830141e-01],
       [ 2.35593076e+00, -1.29198884e-01],
       [ 2.35593076e+00, -5.49632687e-01],
       [ 1.18474309e+00, -2.86196317e-01],
       [ 2.35593076e+00,  6.23912036e-02],
       [ 1.18474309e+00,  7.51583324e-01],
       [ 1.18474309e+00, -5.17701006e-01],
       [ 1.18474309e+00, -6.79410579e-03],
       [ 1.35554129e-02, -5.73581448e-01],
       [-1.15763226e+00, -5.73581448e-01],
       [ 1.35554129e-02, -5.52293661e-01],
       [-1.15763226e+00, -4.72464458e-01],
       [ 1.35554129e-02, -3.07484104e-01],
       [ 1.35554129e-02, -2.99501184e-01],
       [ 1.18474309e+00, -5.94869236e-01],
       [ 1.35554129e-02, -3.79330387e-01],
       [ 1.35554129e-02,  4.82825007e-01],
       [ 1.35554129e-02, -5.60276581e-01],
       [-1.15763226e+00, -2.11689061e-01],
       [ 1.35554129e-02, -4.69803484e-01],
       [-1.15763226e+00, -3.52720653e-01],
       [-1.15763226e+00, -2.64908529e-01],
       [ 1.35554129e-02, -5.07057112e-01],
       [-1.15763226e+00, -6.00191183e-01],
       [ 1.18474309e+00, -2.43620742e-01],
       [ 1.18474309e+00, -5.52293661e-01],
       [ 1.18474309e+00, -2.22332954e-01],
       [ 1.35554129e-02, -5.60276581e-01],
       [ 1.35554129e-02, -4.61820564e-01],
       [ 1.35554129e-02, -5.15040033e-01],
       [-1.15763226e+00, -5.73581448e-01],
       [ 1.35554129e-02, -3.15467025e-01],
       [-1.15763226e+00, -5.94869236e-01],
       [-1.15763226e+00, -3.07484104e-01],
       [ 1.18474309e+00, -5.81564369e-01],
       [ 1.35554129e-02, -5.46971714e-01],
       [ 1.18474309e+00,  4.11034161e-02],
       [ 1.35554129e-02, -1.02589150e-01],
       [-1.15763226e+00, -3.02162157e-01],
       [ 1.35554129e-02,  1.00969775e+00],
       [ 1.35554129e-02, -5.86886315e-01],
       [-1.15763226e+00, -6.00191183e-01],
       [-1.15763226e+00, -3.81991361e-01],
       [ 1.18474309e+00, -3.92635254e-01],
       [ 1.35554129e-02, -5.78903395e-01],
       [ 1.18474309e+00, -4.19244989e-01],
       [ 1.35554129e-02, -4.11262068e-01],
       [ 1.35554129e-02,  2.61426473e+00],
       [ 1.35554129e-02, -5.84225342e-01],
       [ 1.35554129e-02,  6.69093148e-01],
       [ 1.35554129e-02, -5.86886315e-01],
       [ 1.18474309e+00, -2.56925609e-01],
       [-1.15763226e+00, -5.94869236e-01],
       [ 1.18474309e+00, -3.58042600e-01],
       [-1.15763226e+00, -3.23449945e-01],
       [ 2.35593076e+00, -5.44310740e-01],
       [ 1.35554129e-02,  1.50203327e-01],
       [ 1.35554129e-02, -5.92208262e-01],
       [-1.15763226e+00, -6.13496050e-01],
       [ 1.35554129e-02, -5.65598528e-01],
       [ 1.35554129e-02, -5.65598528e-01],
       [-1.15763226e+00, -6.24139944e-01],
       [-1.15763226e+00, -6.29461890e-01],
       [ 1.35554129e-02, -6.29461890e-01],
       [-1.15763226e+00, -6.21478970e-01],
       [-1.15763226e+00, -6.13496050e-01],
       [-1.15763226e+00, -6.13496050e-01],
       [ 1.35554129e-02,  4.63128260e+00],
       [ 1.35554129e-02,  1.31576513e-01],
       [ 1.35554129e-02, -5.49632687e-01],
       [ 1.35554129e-02,  2.27371557e-01],
       [ 1.35554129e-02,  5.38705449e-01],
       [ 1.35554129e-02,  9.17173484e-03],
       [ 1.35554129e-02, -9.72672027e-02],
       [ 1.18474309e+00,  9.51156332e-01],
       [ 1.35554129e-02, -2.19671981e-01],
       [ 1.35554129e-02, -5.73581448e-01],
       [-1.15763226e+00, -4.32549856e-01],
       [ 1.35554129e-02,  3.41793415e-01],
       [ 1.35554129e-02,  3.52437308e-01],
       [-1.15763226e+00, -2.83535343e-01],
       [ 1.35554129e-02, -5.73581448e-01],
       [ 1.35554129e-02,  2.35354477e-01],
       [ 1.35554129e-02,  2.77930052e-01],
       [ 1.35554129e-02, -5.81564369e-01],
       [ 1.35554129e-02,  2.30032530e-01],
       [ 1.18474309e+00, -2.88857290e-01],
       [ 1.35554129e-02, -2.67569503e-01],
       [-1.15763226e+00, -4.91091272e-01],
       [ 2.35593076e+00, -1.77096406e-01],
       [ 2.35593076e+00, -5.62937554e-01],
       [ 1.18474309e+00,  1.02300261e+00],
       [ 1.18474309e+00,  3.49504694e+00],
       [ 1.18474309e+00,  4.32266512e-01],
       [ 1.35554129e-02, -1.37181804e-01],
       [-1.15763226e+00, -4.29888883e-01],
       [ 1.18474309e+00, -8.39623355e-02],
       [ 1.18474309e+00,  3.57814692e-02],
       [ 1.35554129e-02,  2.40676424e-01],
       [ 1.18474309e+00,  3.81708016e-01],
       [ 1.35554129e-02, -5.49632687e-01],
       [ 1.35554129e-02, -9.46062293e-02],
       [ 1.18474309e+00,  1.01768067e+00],
       [ 1.35554129e-02, -2.96840211e-01],
       [ 1.18474309e+00,  1.66169168e-01],
       [-1.15763226e+00, -6.26800917e-01],
       [ 1.35554129e-02, -6.13496050e-01],
       [ 1.35554129e-02,  2.35615031e+00],
       [ 1.35554129e-02, -2.51603662e-01],
       [ 1.18474309e+00, -3.44737733e-01],
       [ 1.35554129e-02, -1.10572070e-01],
       [ 1.35554129e-02,  3.57814692e-02],
       [ 1.35554129e-02, -3.50059679e-01],
       [ 2.35593076e+00, -4.59159590e-01],
       [ 1.18474309e+00,  4.58876246e-01],
       [ 1.35554129e-02, -5.68259501e-01],
       [ 1.35554129e-02, -4.32549856e-01],
       [ 1.18474309e+00,  1.12949699e-01],
       [ 1.35554129e-02, -5.68259501e-01],
       [ 1.35554129e-02, -1.15894017e-01],
       [ 1.35554129e-02, -5.54954634e-01],
       [ 1.18474309e+00, -5.01735165e-01],
       [ 1.35554129e-02, -1.39842778e-01],
       [-1.15763226e+00, -3.42076759e-01],
       [ 1.35554129e-02, -5.17701006e-01],
       [ 2.35593076e+00, -2.35637822e-01],
       [ 2.35593076e+00, -4.67087074e-02],
       [-1.15763226e+00, -6.16157023e-01],
       [ 1.35554129e-02, -4.93752245e-01],
       [-1.15763226e+00, -4.64481537e-01],
       [-1.15763226e+00,  2.93895893e-01],
       [ 1.18474309e+00,  2.91234919e-01],
       [ 1.35554129e-02, -7.06574683e-02],
       [ 1.35554129e-02,  6.58449254e-01],
       [-1.15763226e+00, -5.73581448e-01],
       [ 1.35554129e-02, -5.68259501e-01],
       [ 1.18474309e+00, -1.31859857e-01],
       [ 1.35554129e-02, -5.09718086e-01],
       [ 2.35593076e+00, -5.44310740e-01],
       [ 1.35554129e-02, -4.59159590e-01],
       [ 2.35593076e+00, -1.42503751e-01],
       [ 1.35554129e-02,  3.57759255e-01],
       [ 1.35554129e-02, -5.65598528e-01],
       [ 1.35554129e-02,  4.13639698e-01],
       [ 1.35554129e-02,  1.05493430e+00],
       [ 1.18474309e+00, -2.99501184e-01],
       [ 1.35554129e-02,  3.25827574e-01],
       [ 2.35593076e+00, -5.28344900e-01],
       [ 2.35593076e+00, -5.57615608e-01],
       [ 1.35554129e-02,  1.11613669e+00],
       [ 1.35554129e-02, -5.73526011e-02],
       [ 1.18474309e+00, -5.04396139e-01],
       [ 1.35554129e-02, -4.51176670e-01],
       [ 2.35593076e+00, -4.85769325e-01],
       [ 1.35554129e-02,  5.25400582e-01],
       [-1.15763226e+00, -4.21905962e-01],
       [ 1.35554129e-02, -6.13496050e-01],
       [-1.15763226e+00,  1.42220407e-01],
       [ 2.35593076e+00,  5.78620051e-01],
       [ 2.35593076e+00,  2.36679420e+00],
       [-1.15763226e+00, -3.42076759e-01],
       [ 1.18474309e+00,  3.33006659e+00],
       [ 1.35554129e-02, -6.05513130e-01],
       [ 1.35554129e-02,  2.04215544e+00],
       [ 1.35554129e-02,  3.84424427e-02],
       [ 1.18474309e+00,  4.37643895e-02],
       [ 1.18474309e+00, -5.68259501e-01],
       [ 1.35554129e-02,  4.48232352e-01],
       [ 1.18474309e+00, -2.27599464e-02],
       [ 1.35554129e-02,  3.48972499e+00],
       [-1.15763226e+00,  4.53554299e-01],
       [ 2.35593076e+00,  1.47004615e+00],
       [ 1.35554129e-02, -5.09718086e-01],
       [-1.15763226e+00, -8.66233090e-02],
       [ 1.35554129e-02,  3.57814692e-02],
       [ 1.35554129e-02,  2.29760889e+00],
       [ 1.35554129e-02, -6.10835076e-01],
       [-1.15763226e+00,  2.10867978e+00],
       [ 1.18474309e+00,  9.69838583e-02],
       [-1.15763226e+00,  9.83088013e-01],
       [ 2.35593076e+00,  1.23854146e+00],
       [-1.15763226e+00,  9.96448318e-02],
       [ 1.18474309e+00,  3.95012883e-01],
       [ 1.18474309e+00,  1.36626819e+00],
       [-1.15763226e+00, -3.10145078e-01],
       [ 1.35554129e-02, -4.77786404e-01],
       [ 1.35554129e-02, -4.67142511e-01],
       [ 1.35554129e-02, -1.21160527e-02],
       [ 1.35554129e-02,  8.18107660e-01],
       [ 1.18474309e+00,  7.94158899e-01],
       [ 1.35554129e-02,  3.33810494e-01],
       [-1.15763226e+00,  3.81708016e-01],
       [ 1.18474309e+00,  3.22628862e+00],
       [ 1.35554129e-02, -4.77786404e-01],
       [ 1.18474309e+00,  1.54189244e+00],
       [ 1.35554129e-02,  5.46688369e-01],
       [ 2.35593076e+00, -6.53355214e-02],
       [ 1.35554129e-02,  3.09590092e+00],
       [ 1.35554129e-02, -5.76242422e-01],
       [ 1.35554129e-02,  1.12949699e-01],
       [ 1.35554129e-02,  1.60043385e+00],
       [ 1.35554129e-02,  2.24438942e+00],
       [-1.15763226e+00,  2.34550641e+00],
       [ 1.35554129e-02,  1.44936817e-02],
       [-1.15763226e+00, -4.21905962e-01],
       [-1.15763226e+00,  2.83251999e-01],
       [-1.15763226e+00,  2.45998371e-01],
       [ 1.35554129e-02,  8.87292970e-01],
       [-1.15763226e+00, -3.42076759e-01],
       [ 1.35554129e-02,  6.87719962e-01],
       [ 1.35554129e-02, -1.05250123e-01],
       [ 1.35554129e-02,  6.82398015e-01],
       [ 1.18474309e+00,  4.53554299e-01],
       [ 1.35554129e-02,  5.71429879e+00],
       [ 1.18474309e+00,  2.24705040e+00],
       [ 1.35554129e-02,  1.74152088e-01],
       [-1.15763226e+00, -4.51176670e-01],
       [ 1.35554129e-02, -5.54954634e-01],
       [ 1.18474309e+00, -5.86886315e-01],
       [ 1.35554129e-02, -2.99501184e-01],
       [-1.15763226e+00, -4.45854723e-01],
       [ 1.35554129e-02, -1.77096406e-01],
       [ 1.35554129e-02, -4.43193750e-01],
       [ 1.35554129e-02, -5.68259501e-01],
       [ 1.35554129e-02,  3.96603924e+00],
       [ 2.35593076e+00, -3.02162157e-01],
       [-1.15763226e+00, -4.35210829e-01],
       [ 1.35554129e-02,  2.09271394e+00],
       [-1.15763226e+00, -6.00191183e-01],
       [-1.15763226e+00, -6.08174103e-01],
       [-1.15763226e+00, -6.00191183e-01],
       [-1.15763226e+00, -5.78903395e-01],
       [ 1.18474309e+00,  3.19435694e+00],
       [-1.15763226e+00, -4.88430298e-01],
       [ 2.35593076e+00,  3.84978796e-03],
       [ 1.35554129e-02,  3.95012883e-01],
       [ 1.18474309e+00, -2.75552423e-01],
       [ 1.35554129e-02,  3.09861733e-01],
       [ 1.35554129e-02,  3.16242526e+00],
       [ 1.18474309e+00, -4.40477339e-02],
       [ 1.35554129e-02, -3.87313308e-01],
       [ 1.18474309e+00,  3.09861733e-01],
       [ 1.18474309e+00,  9.40512438e-01],
       [ 2.35593076e+00,  5.44082833e-02],
       [ 2.35593076e+00, -4.59159590e-01],
       [ 1.18474309e+00,  8.10180177e-02],
       [ 1.35554129e-02, -5.17701006e-01],
       [-1.15763226e+00, -2.94179237e-01],
       [ 2.35593076e+00, -2.17011007e-01],
       [ 1.35554129e-02, -4.40532776e-01],
       [-1.15763226e+00, -4.85769325e-01],
       [ 1.35554129e-02,  1.95434332e+00],
       [ 1.35554129e-02,  1.73082155e+00],
       [-1.15763226e+00,  5.46688369e-01],
       [ 1.35554129e-02,  8.73988102e-01],
       [ 1.18474309e+00,  3.12522707e-01],
       [ 1.35554129e-02,  1.96232624e+00],
       [-1.15763226e+00, -3.79330387e-01],
       [ 1.35554129e-02,  2.05546031e+00],
       [-1.15763226e+00,  5.70637130e-01],
       [ 1.35554129e-02, -5.89547289e-01],
       [ 1.35554129e-02,  1.92241164e+00],
       [-1.15763226e+00, -1.74435432e-01],
       [-1.15763226e+00, -5.07057112e-01],
       [ 1.18474309e+00,  4.13639698e-01],
       [ 1.18474309e+00,  1.39559433e-01],
       [ 1.35554129e-02,  1.74152088e-01],
       [ 1.35554129e-02,  1.36360722e+00],
       [ 1.35554129e-02, -4.83108351e-01],
       [-1.15763226e+00,  2.72868659e+00],
       [-1.15763226e+00, -5.28344900e-01],
       [ 1.35554129e-02, -3.97957201e-01],
       [ 1.18474309e+00,  7.47320223e+00],
       [-1.15763226e+00, -2.51603662e-01],
       [ 1.35554129e-02,  1.73082155e+00],
       [ 1.18474309e+00,  3.73725096e-01],
       [ 1.18474309e+00,  1.35562429e+00],
       [-1.15763226e+00,  2.72868659e+00],
       [ 1.35554129e-02,  7.06346776e-01],
       [ 1.18474309e+00,  1.87456955e-01],
       [ 1.18474309e+00,  4.67119720e+00],
       [ 1.35554129e-02,  5.70692567e-02],
       [ 1.35554129e-02, -4.83108351e-01]])

In [228]:
print('There are {} uniques categories.'.format(len(manhattan_venues['Venue Category'].unique())))

There are 65 uniques categories.

# process category data into dummies

In [62]:
# one hot encoding
manhattan_onehot = pd.get_dummies(manhattan_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
manhattan_onehot['Neighborhood'] = manhattan_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [manhattan_onehot.columns[-1]] + list(manhattan_onehot.columns[:-1])
manhattan_onehot = manhattan_onehot[fixed_columns]

manhattan_onehot.head()

,Neighborhood,Afghan Restaurant,African Restaurant,American Restaurant,Argentinian Restaurant,Asian Restaurant,BBQ Joint,Bagel Shop,Bakery,Breakfast Spot,Burger Joint,Burrito Place,Cafeteria,Café,Caribbean Restaurant,Chinese Restaurant,Cuban Restaurant,Deli / Bodega,Diner,Donut Shop,Dumpling Restaurant,English Restaurant,Ethiopian Restaurant,Falafel Restaurant,Fast Food Restaurant,Filipino Restaurant,Food Truck,French Restaurant,Fried Chicken Joint,Gastropub,German Restaurant,Greek Restaurant,Hawaiian Restaurant,Hot Dog Joint,Hotpot Restaurant,Indian Restaurant,Israeli Restaurant,Italian Restaurant,Japanese Restaurant,Jewish Restaurant,Korean Restaurant,Latin American Restaurant,Mediterranean Restaurant,Mexican Restaurant,Middle Eastern Restaurant,Moroccan Restaurant,New American Restaurant,Noodle House,Peruvian Restaurant,Pizza Place,Ramen Restaurant,Restaurant,Salad Place,Sandwich Place,Scandinavian Restaurant,Seafood Restaurant,Snack Place,Southern / Soul Food Restaurant,Spanish Restaurant,Steakhouse,Sushi Restaurant,Swiss Restaurant,Taco Place,Tapas Restaurant,Thai Restaurant,Turkish Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant
0,Marble Hill,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Marble Hill,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Marble Hill,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Marble Hill,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,Marble Hill,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [63]:
manhattan_onehot.shape

(432, 68)

In [64]:
manhattan_grouped = manhattan_onehot.groupby('Neighborhood').mean().reset_index()
manhattan_grouped.head()

,Neighborhood,Afghan Restaurant,African Restaurant,American Restaurant,Argentinian Restaurant,Asian Restaurant,BBQ Joint,Bagel Shop,Bakery,Breakfast Spot,Burger Joint,Burrito Place,Cafeteria,Café,Caribbean Restaurant,Chinese Restaurant,Cuban Restaurant,Deli / Bodega,Diner,Donut Shop,Dumpling Restaurant,English Restaurant,Ethiopian Restaurant,Falafel Restaurant,Fast Food Restaurant,Filipino Restaurant,Food Truck,French Restaurant,Fried Chicken Joint,Gastropub,German Restaurant,Greek Restaurant,Hawaiian Restaurant,Hot Dog Joint,Hotpot Restaurant,Indian Restaurant,Israeli Restaurant,Italian Restaurant,Japanese Restaurant,Jewish Restaurant,Korean Restaurant,Latin American Restaurant,Mediterranean Restaurant,Mexican Restaurant,Middle Eastern Restaurant,Moroccan Restaurant,New American Restaurant,Noodle House,Peruvian Restaurant,Pizza Place,Ramen Restaurant,Restaurant,Salad Place,Sandwich Place,Scandinavian Restaurant,Seafood Restaurant,Snack Place,Southern / Soul Food Restaurant,Spanish Restaurant,Steakhouse,Sushi Restaurant,Swiss Restaurant,Taco Place,Tapas Restaurant,Thai Restaurant,Turkish Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant
0,Central Harlem,0.0,0.15,0.100000,0.0,0.000000,0.0,0.05,0.000000,0.0,0.0,0.0,0.05,0.05,0.05,0.100000,0.00,0.0,0.0,0.00,0.0,0.000000,0.05,0.0,0.0,0.0,0.0,0.100000,0.1,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.050000,0.0,0.000000,0.0,0.000000,0.0,0.100000,0.0,0.05,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
1,Chelsea,0.0,0.00,0.166667,0.0,0.055556,0.0,0.00,0.000000,0.0,0.0,0.0,0.00,0.00,0.00,0.055556,0.00,0.0,0.0,0.00,0.0,0.000000,0.00,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.055556,0.055556,0.111111,0.111111,0.0,0.0,0.00,0.000000,0.055556,0.055556,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.055556,0.0,0.111111,0.0,0.00,0.000000,0.000000,0.0,0.0,0.055556,0.055556,0.000000,0.0,0.0,0.0
2,Chinatown,0.0,0.00,0.058824,0.0,0.058824,0.0,0.00,0.058824,0.0,0.0,0.0,0.00,0.00,0.00,0.176471,0.00,0.0,0.0,0.00,0.0,0.058824,0.00,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.058824,0.0,0.0,0.0,0.000000,0.000000,0.058824,0.000000,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.058824,0.117647,0.000000,0.058824,0.0,0.000000,0.0,0.117647,0.0,0.000000,0.0,0.00,0.058824,0.000000,0.0,0.0,0.000000,0.000000,0.058824,0.0,0.0,0.0
3,Clinton,0.0,0.00,0.266667,0.0,0.000000,0.0,0.00,0.000000,0.0,0.0,0.0,0.00,0.00,0.00,0.000000,0.00,0.0,0.0,0.00,0.0,0.000000,0.00,0.0,0.0,0.0,0.0,0.066667,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.066667,0.000000,0.0,0.0,0.00,0.066667,0.000000,0.000000,0.0,0.133333,0.000000,0.066667,0.066667,0.0,0.066667,0.0,0.066667,0.0,0.066667,0.0,0.00,0.000000,0.066667,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
4,East Harlem,0.0,0.00,0.000000,0.0,0.000000,0.0,0.00,0.100000,0.0,0.0,0.0,0.00,0.05,0.00,0.000000,0.05,0.0,0.0,0.05,0.0,0.000000,0.00,0.0,0.0,0.0,0.0,0.050000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.15,0.000000,0.200000,0.000000,0.0,0.000000,0.000000,0.000000,0.050000,0.0,0.000000,0.0,0.050000,0.0,0.000000,0.0,0.00,0.050000,0.050000,0.0,0.0,0.050000,0.000000,0.100000,0.0,0.0,0.0

In [65]:
manhattan_grouped.shape

(24, 68)

# normalize price and likes count

In [66]:
m11 = manhattan_venues[['Neighborhood','price_tier','likes_count']]

In [67]:
m12 = m11.groupby('Neighborhood').mean()

In [68]:
m12.head()

                price_tier  likes_count
Neighborhood
Central Harlem    2.000000    37.850000
Chelsea           2.277778   513.611111
Chinatown         1.529412   265.823529
Clinton           2.400000   204.133333
East Harlem       1.600000    41.450000

In [69]:
X = m12.values[:,:]
cluster_dataset = StandardScaler().fit_transform(X)
cluster_dataset[:10]

array([[ 0.06427182, -0.98375749],
       [ 0.82841609,  1.33200242],
       [-1.23027847,  0.12590017],
       [ 1.16463957, -0.17437591],
       [-1.03609593, -0.96623454],
       [-0.24138589,  1.69652294],
       [ 0.49862751,  1.15661642],
       [-1.44873383, -0.97426589],
       [-1.09401002, -1.04169336],
       [ 0.20905705, -0.25521032]])

In [70]:
m13 = pd.DataFrame(cluster_dataset,columns=['price_tier','likes_count'])

In [71]:
m13.head()

   price_tier  likes_count
0    0.064272    -0.983757
1    0.828416     1.332002
2   -1.230278     0.125900
3    1.164640    -0.174376
4   -1.036096    -0.966235

In [72]:
insert1 = m13.iloc[:,0]

In [73]:
insert2 = m13.iloc[:,1]

In [74]:
manhattan_grouped.insert(1,'price_tier',insert1)

In [75]:
manhattan_grouped.insert(2,'likes_count',insert2)

# manhattan_grouped is the data that ready to be process by Kmeans

In [76]:
manhattan_grouped.head()

,Neighborhood,price_tier,likes_count,Afghan Restaurant,African Restaurant,American Restaurant,Argentinian Restaurant,Asian Restaurant,BBQ Joint,Bagel Shop,Bakery,Breakfast Spot,Burger Joint,Burrito Place,Cafeteria,Café,Caribbean Restaurant,Chinese Restaurant,Cuban Restaurant,Deli / Bodega,Diner,Donut Shop,Dumpling Restaurant,English Restaurant,Ethiopian Restaurant,Falafel Restaurant,Fast Food Restaurant,Filipino Restaurant,Food Truck,French Restaurant,Fried Chicken Joint,Gastropub,German Restaurant,Greek Restaurant,Hawaiian Restaurant,Hot Dog Joint,Hotpot Restaurant,Indian Restaurant,Israeli Restaurant,Italian Restaurant,Japanese Restaurant,Jewish Restaurant,Korean Restaurant,Latin American Restaurant,Mediterranean Restaurant,Mexican Restaurant,Middle Eastern Restaurant,Moroccan Restaurant,New American Restaurant,Noodle House,Peruvian Restaurant,Pizza Place,Ramen Restaurant,Restaurant,Salad Place,Sandwich Place,Scandinavian Restaurant,Seafood Restaurant,Snack Place,Southern / Soul Food Restaurant,Spanish Restaurant,Steakhouse,Sushi Restaurant,Swiss Restaurant,Taco Place,Tapas Restaurant,Thai Restaurant,Turkish Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant
0,Central Harlem,0.064272,-0.983757,0.0,0.15,0.100000,0.0,0.000000,0.0,0.05,0.000000,0.0,0.0,0.0,0.05,0.05,0.05,0.100000,0.00,0.0,0.0,0.00,0.0,0.000000,0.05,0.0,0.0,0.0,0.0,0.100000,0.1,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.050000,0.0,0.000000,0.0,0.000000,0.0,0.100000,0.0,0.05,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
1,Chelsea,0.828416,1.332002,0.0,0.00,0.166667,0.0,0.055556,0.0,0.00,0.000000,0.0,0.0,0.0,0.00,0.00,0.00,0.055556,0.00,0.0,0.0,0.00,0.0,0.000000,0.00,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.055556,0.055556,0.111111,0.111111,0.0,0.0,0.00,0.000000,0.055556,0.055556,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.055556,0.0,0.111111,0.0,0.00,0.000000,0.000000,0.0,0.0,0.055556,0.055556,0.000000,0.0,0.0,0.0
2,Chinatown,-1.230278,0.125900,0.0,0.00,0.058824,0.0,0.058824,0.0,0.00,0.058824,0.0,0.0,0.0,0.00,0.00,0.00,0.176471,0.00,0.0,0.0,0.00,0.0,0.058824,0.00,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.058824,0.0,0.0,0.0,0.000000,0.000000,0.058824,0.000000,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.058824,0.117647,0.000000,0.058824,0.0,0.000000,0.0,0.117647,0.0,0.000000,0.0,0.00,0.058824,0.000000,0.0,0.0,0.000000,0.000000,0.058824,0.0,0.0,0.0
3,Clinton,1.164640,-0.174376,0.0,0.00,0.266667,0.0,0.000000,0.0,0.00,0.000000,0.0,0.0,0.0,0.00,0.00,0.00,0.000000,0.00,0.0,0.0,0.00,0.0,0.000000,0.00,0.0,0.0,0.0,0.0,0.066667,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.066667,0.000000,0.0,0.0,0.00,0.066667,0.000000,0.000000,0.0,0.133333,0.000000,0.066667,0.066667,0.0,0.066667,0.0,0.066667,0.0,0.066667,0.0,0.00,0.000000,0.066667,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
4,East Harlem,-1.036096,-0.966235,0.0,0.00,0.000000,0.0,0.000000,0.0,0.00,0.100000,0.0,0.0,0.0,0.00,0.05,0.00,0.000000,0.05,0.0,0.0,0.05,0.0,0.000000,0.00,0.0,0.0,0.0,0.0,0.050000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.15,0.000000,0.200000,0.000000,0.0,0.000000,0.000000,0.000000,0.050000,0.0,0.000000,0.0,0.050000,0.0,0.000000,0.0,0.00,0.050000,0.050000,0.0,0.0,0.050000,0.000000,0.100000,0.0,0.0,0.0

In [77]:
num_top_venues = 5

for hood in manhattan_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = manhattan_grouped[manhattan_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[3:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Central Harlem----
                 venue  freq
0   African Restaurant  0.15
1   Seafood Restaurant  0.10
2  American Restaurant  0.10
3    French Restaurant  0.10
4  Fried Chicken Joint  0.10


----Chelsea----
                 venue  freq
0  American Restaurant  0.17
1  Japanese Restaurant  0.11
2   Italian Restaurant  0.11
3   Seafood Restaurant  0.11
4       Sandwich Place  0.06


----Chinatown----
                venue  freq
0  Chinese Restaurant  0.18
1      Sandwich Place  0.12
2        Noodle House  0.12
3  Italian Restaurant  0.06
4  Spanish Restaurant  0.06


----Clinton----
                     venue  freq
0      American Restaurant  0.27
1  New American Restaurant  0.13
2       Italian Restaurant  0.07
3              Pizza Place  0.07
4      Peruvian Restaurant  0.07


----East Harlem----
                       venue  freq
0         Mexican Restaurant  0.20
1  Latin American Restaurant  0.15
2            Thai Restaurant  0.10
3                     Bakery  0.10
4                 Donut Shop  0.05


----East Village----
                           venue  freq
0          Vietnamese Restaurant  0.11
1  Vegetarian / Vegan Restaurant  0.11
2                    Pizza Place  0.11
3           Caribbean Restaurant  0.06
4              Korean Restaurant  0.06


----Greenwich Village----
                venue  freq
0  Italian Restaurant  0.37
1    Sushi Restaurant  0.16
2   French Restaurant  0.11
3                Café  0.11
4      Sandwich Place  0.05


----Hamilton Heights----
                  venue  freq
0                  Café  0.15
1           Pizza Place  0.10
2    Mexican Restaurant  0.10
3  Caribbean Restaurant  0.10
4                Bakery  0.10


----Inwood----
                 venue  freq
0           Restaurant  0.16
1   Mexican Restaurant  0.16
2                 Café  0.16
3  American Restaurant  0.11
4               Bakery  0.11


----Lenox Hill----
               venue  freq
0       Burger Joint  0.16
1    Thai Restaurant  0.11
2             Bakery  0.11
3  Afghan Restaurant  0.05
4               Café  0.05


----Lincoln Square----
                      venue  freq
0                      Café  0.25
1        Italian Restaurant  0.15
2       American Restaurant  0.15
3  Mediterranean Restaurant  0.10
4         French Restaurant  0.10


----Little Italy----
                      venue  freq
0                      Café  0.15
1            Sandwich Place  0.10
2               Pizza Place  0.10
3  Mediterranean Restaurant  0.05
4        Mexican Restaurant  0.05


----Lower East Side----
                       venue  freq
0        Japanese Restaurant  0.11
1                       Café  0.11
2         Chinese Restaurant  0.06
3         Italian Restaurant  0.06
4  Latin American Restaurant  0.06


----Manhattanville----
                 venue  freq
0   Seafood Restaurant  0.11
1   Italian Restaurant  0.11
2   Mexican Restaurant  0.11
3  Dumpling Restaurant  0.05
4   Spanish Restaurant  0.05


----Marble Hill----
                  venue  freq
0        Sandwich Place  0.21
1         Deli / Bodega  0.14
2  Fast Food Restaurant  0.07
3    Seafood Restaurant  0.07
4                 Diner  0.07


----Midtown----
                   venue  freq
0       Sushi Restaurant  0.11
1             Steakhouse  0.11
2  Vietnamese Restaurant  0.06
3            Pizza Place  0.06
4            Salad Place  0.06


----Murray Hill----
                 venue  freq
0  Japanese Restaurant  0.16
1   Italian Restaurant  0.11
2           Bagel Shop  0.11
3         Burger Joint  0.11
4    Jewish Restaurant  0.05


----Roosevelt Island----
                 venue  freq
0        Deli / Bodega   0.2
1  Japanese Restaurant   0.1
2           Restaurant   0.1
3          Pizza Place   0.1
4   Chinese Restaurant   0.1


----Soho----
                      venue  freq
0        Italian Restaurant  0.25
1                    Bakery  0.17
2  Mediterranean Restaurant  0.17
3        Spanish Restaurant  0.08
4         French Restaurant  0.08


----Tribeca----
                 venue  freq
0     Greek Restaurant  0.16
1  American Restaurant  0.16
2           Steakhouse  0.11
3                 Café  0.11
4   Italian Restaurant  0.05


----Upper East Side----
                 venue  freq
0   Italian Restaurant  0.15
1  American Restaurant  0.10
2    French Restaurant  0.10
3          Pizza Place  0.10
4  Japanese Restaurant  0.05


----Upper West Side----
                 venue  freq
0   Italian Restaurant  0.10
1  American Restaurant  0.10
2   Seafood Restaurant  0.10
3               Bakery  0.10
4  Peruvian Restaurant  0.05


----Washington Heights----
                     venue  freq
0            Deli / Bodega  0.11
1                   Bakery  0.11
2                     Café  0.11
3  New American Restaurant  0.11
4     Caribbean Restaurant  0.06


----Yorkville----
                   venue  freq
0     Italian Restaurant  0.25
1          Deli / Bodega  0.15
2  Vietnamese Restaurant  0.05
3           Burger Joint  0.05
4         Sandwich Place  0.05

In [78]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[3:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [79]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Restaurant'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Restaurant'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = manhattan_grouped['Neighborhood']

for ind in np.arange(manhattan_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(manhattan_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Restaurant,2nd Most Common Restaurant,3rd Most Common Restaurant,4th Most Common Restaurant,5th Most Common Restaurant,6th Most Common Restaurant,7th Most Common Restaurant,8th Most Common Restaurant,9th Most Common Restaurant,10th Most Common Restaurant
0,Central Harlem,African Restaurant,Chinese Restaurant,American Restaurant,Fried Chicken Joint,French Restaurant,Seafood Restaurant,Café,Ethiopian Restaurant,Bagel Shop,Pizza Place
1,Chelsea,American Restaurant,Japanese Restaurant,Italian Restaurant,Seafood Restaurant,Chinese Restaurant,Indian Restaurant,Mexican Restaurant,Sandwich Place,Israeli Restaurant,Asian Restaurant
2,Chinatown,Chinese Restaurant,Noodle House,Sandwich Place,Pizza Place,Spanish Restaurant,Italian Restaurant,English Restaurant,New American Restaurant,Bakery,Greek Restaurant
3,Clinton,American Restaurant,New American Restaurant,Italian Restaurant,Mediterranean Restaurant,Pizza Place,Restaurant,Sandwich Place,Seafood Restaurant,Peruvian Restaurant,Steakhouse
4,East Harlem,Mexican Restaurant,Latin American Restaurant,Thai Restaurant,Bakery,Pizza Place,French Restaurant,Taco Place,Café,Steakhouse,Spanish Restaurant

In [80]:
m12.head()

                price_tier  likes_count
Neighborhood
Central Harlem    2.000000    37.850000
Chelsea           2.277778   513.611111
Chinatown         1.529412   265.823529
Clinton           2.400000   204.133333
East Harlem       1.600000    41.450000

In [82]:
neighborhoods_venues_sorted.insert(1,'price_tier',m12['price_tier'].tolist())

In [83]:
neighborhoods_venues_sorted.insert(2,'likes_count',m12['likes_count'].tolist())

In [84]:
neighborhoods_venues_sorted.head()

,Neighborhood,price_tier,likes_count,1st Most Common Restaurant,2nd Most Common Restaurant,3rd Most Common Restaurant,4th Most Common Restaurant,5th Most Common Restaurant,6th Most Common Restaurant,7th Most Common Restaurant,8th Most Common Restaurant,9th Most Common Restaurant,10th Most Common Restaurant
0,Central Harlem,2.000000,37.850000,African Restaurant,Chinese Restaurant,American Restaurant,Fried Chicken Joint,French Restaurant,Seafood Restaurant,Café,Ethiopian Restaurant,Bagel Shop,Pizza Place
1,Chelsea,2.277778,513.611111,American Restaurant,Japanese Restaurant,Italian Restaurant,Seafood Restaurant,Chinese Restaurant,Indian Restaurant,Mexican Restaurant,Sandwich Place,Israeli Restaurant,Asian Restaurant
2,Chinatown,1.529412,265.823529,Chinese Restaurant,Noodle House,Sandwich Place,Pizza Place,Spanish Restaurant,Italian Restaurant,English Restaurant,New American Restaurant,Bakery,Greek Restaurant
3,Clinton,2.400000,204.133333,American Restaurant,New American Restaurant,Italian Restaurant,Mediterranean Restaurant,Pizza Place,Restaurant,Sandwich Place,Seafood Restaurant,Peruvian Restaurant,Steakhouse
4,East Harlem,1.600000,41.450000,Mexican Restaurant,Latin American Restaurant,Thai Restaurant,Bakery,Pizza Place,French Restaurant,Taco Place,Café,Steakhouse,Spanish Restaurant

In [269]:
manhattan_grouped.head()

,Neighborhood,price_tier,likes_count,Afghan Restaurant,African Restaurant,American Restaurant,Argentinian Restaurant,Asian Restaurant,BBQ Joint,Bagel Shop,Bakery,Breakfast Spot,Burger Joint,Burrito Place,Cafeteria,Café,Caribbean Restaurant,Chinese Restaurant,Cuban Restaurant,Deli / Bodega,Diner,Donut Shop,Dumpling Restaurant,English Restaurant,Ethiopian Restaurant,Falafel Restaurant,Filipino Restaurant,Food Truck,French Restaurant,Fried Chicken Joint,Gastropub,German Restaurant,Greek Restaurant,Hawaiian Restaurant,Hot Dog Joint,Hotpot Restaurant,Indian Restaurant,Italian Restaurant,Japanese Restaurant,Jewish Restaurant,Korean Restaurant,Latin American Restaurant,Mediterranean Restaurant,Mexican Restaurant,Middle Eastern Restaurant,Moroccan Restaurant,New American Restaurant,Noodle House,Peruvian Restaurant,Pizza Place,Ramen Restaurant,Restaurant,Salad Place,Sandwich Place,Scandinavian Restaurant,Seafood Restaurant,Snack Place,Southern / Soul Food Restaurant,Spanish Restaurant,Steakhouse,Sushi Restaurant,Swiss Restaurant,Taco Place,Tapas Restaurant,Thai Restaurant,Turkish Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant
0,Central Harlem,0.064272,-0.983757,0.0,0.15,0.100000,0.0,0.000000,0.0,0.05,0.000000,0.0,0.0,0.0,0.05,0.05,0.05,0.100000,0.00,0.0,0.0,0.00,0.0,0.000000,0.05,0.0,0.0,0.0,0.100000,0.1,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.050000,0.0,0.000000,0.0,0.000000,0.0,0.100000,0.0,0.05,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
1,Chelsea,0.828416,1.332002,0.0,0.00,0.055556,0.0,0.055556,0.0,0.00,0.055556,0.0,0.0,0.0,0.00,0.00,0.00,0.055556,0.00,0.0,0.0,0.00,0.0,0.000000,0.00,0.0,0.0,0.0,0.055556,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.055556,0.111111,0.111111,0.0,0.0,0.00,0.000000,0.055556,0.055556,0.0,0.055556,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.055556,0.0,0.111111,0.0,0.00,0.000000,0.000000,0.0,0.0,0.055556,0.055556,0.000000,0.0,0.0,0.0
2,Chinatown,-1.230278,0.125900,0.0,0.00,0.058824,0.0,0.058824,0.0,0.00,0.058824,0.0,0.0,0.0,0.00,0.00,0.00,0.176471,0.00,0.0,0.0,0.00,0.0,0.058824,0.00,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.058824,0.0,0.0,0.0,0.000000,0.058824,0.000000,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.058824,0.117647,0.000000,0.058824,0.0,0.000000,0.0,0.117647,0.0,0.000000,0.0,0.00,0.058824,0.000000,0.0,0.0,0.000000,0.000000,0.058824,0.0,0.0,0.0
3,Clinton,1.164640,-0.174376,0.0,0.00,0.266667,0.0,0.000000,0.0,0.00,0.000000,0.0,0.0,0.0,0.00,0.00,0.00,0.000000,0.00,0.0,0.0,0.00,0.0,0.000000,0.00,0.0,0.0,0.0,0.066667,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.066667,0.000000,0.0,0.0,0.00,0.066667,0.000000,0.000000,0.0,0.133333,0.000000,0.066667,0.066667,0.0,0.066667,0.0,0.066667,0.0,0.066667,0.0,0.00,0.000000,0.066667,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
4,East Harlem,-1.036096,-0.966235,0.0,0.00,0.000000,0.0,0.000000,0.0,0.00,0.100000,0.0,0.0,0.0,0.00,0.05,0.00,0.000000,0.05,0.0,0.0,0.05,0.0,0.000000,0.00,0.0,0.0,0.0,0.050000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.15,0.000000,0.200000,0.000000,0.0,0.000000,0.000000,0.000000,0.050000,0.0,0.000000,0.0,0.050000,0.0,0.000000,0.0,0.00,0.050000,0.050000,0.0,0.0,0.050000,0.000000,0.100000,0.0,0.0,0.0

In [85]:
# set number of clusters
kclusters = 5

manhattan_grouped_clustering = manhattan_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(manhattan_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([3, 4, 0, 1, 0, 4, 4, 0, 0, 3], dtype=int32)

In [86]:
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

In [87]:
neighborhoods_venues_sorted

,Cluster Labels,Neighborhood,price_tier,likes_count,1st Most Common Restaurant,2nd Most Common Restaurant,3rd Most Common Restaurant,4th Most Common Restaurant,5th Most Common Restaurant,6th Most Common Restaurant,7th Most Common Restaurant,8th Most Common Restaurant,9th Most Common Restaurant,10th Most Common Restaurant
0,3,Central Harlem,2.000000,37.850000,African Restaurant,Chinese Restaurant,American Restaurant,Fried Chicken Joint,French Restaurant,Seafood Restaurant,Café,Ethiopian Restaurant,Bagel Shop,Pizza Place
1,4,Chelsea,2.277778,513.611111,American Restaurant,Japanese Restaurant,Italian Restaurant,Seafood Restaurant,Chinese Restaurant,Indian Restaurant,Mexican Restaurant,Sandwich Place,Israeli Restaurant,Asian Restaurant
2,0,Chinatown,1.529412,265.823529,Chinese Restaurant,Noodle House,Sandwich Place,Pizza Place,Spanish Restaurant,Italian Restaurant,English Restaurant,New American Restaurant,Bakery,Greek Restaurant
3,1,Clinton,2.400000,204.133333,American Restaurant,New American Restaurant,Italian Restaurant,Mediterranean Restaurant,Pizza Place,Restaurant,Sandwich Place,Seafood Restaurant,Peruvian Restaurant,Steakhouse
4,0,East Harlem,1.600000,41.450000,Mexican Restaurant,Latin American Restaurant,Thai Restaurant,Bakery,Pizza Place,French Restaurant,Taco Place,Café,Steakhouse,Spanish Restaurant
5,4,East Village,1.888889,588.500000,Vietnamese Restaurant,Pizza Place,Vegetarian / Vegan Restaurant,Scandinavian Restaurant,Korean Restaurant,Ramen Restaurant,Caribbean Restaurant,Japanese Restaurant,Burger Joint,Bagel Shop
6,4,Greenwich Village,2.157895,477.578947,Italian Restaurant,Sushi Restaurant,French Restaurant,Café,Sandwich Place,Food Truck,Bagel Shop,New American Restaurant,Snack Place,Vietnamese Restaurant
7,0,Hamilton Heights,1.450000,39.800000,Café,Pizza Place,Bakery,Mexican Restaurant,Caribbean Restaurant,Gastropub,Mediterranean Restaurant,Latin American Restaurant,Burger Joint,Japanese Restaurant
8,0,Inwood,1.578947,25.947368,Mexican Restaurant,Restaurant,Café,Deli / Bodega,American Restaurant,Bakery,Spanish Restaurant,Latin American Restaurant,Diner,Pizza Place
9,3,Lenox Hill,2.052632,187.526316,Burger Joint,Thai Restaurant,Bakery,Afghan Restaurant,French Restaurant,Italian Restaurant,Japanese Restaurant,Middle Eastern Restaurant,Chinese Restaurant,Pizza Place
10,1,Lincoln Square,2.450000,282.800000,Café,American Restaurant,Italian Restaurant,French Restaurant,Mediterranean Restaurant,Burger Joint,Food Truck,Bakery,Mexican Restaurant,Seafood Restaurant
11,4,Little Italy,1.800000,501.250000,Café,Pizza Place,Sandwich Place,Hotpot Restaurant,Seafood Restaurant,Dumpling Restaurant,Italian Restaurant,Mediterranean Restaurant,Mexican Restaurant,Noodle House
12,3,Lower East Side,1.833333,274.722222,Café,Japanese Restaurant,Vietnamese Restaurant,French Restaurant,Filipino Restaurant,Italian Restaurant,Latin American Restaurant,Mediterranean Restaurant,Mexican Restaurant,Diner
13,3,Manhattanville,1.842105,152.421053,Italian Restaurant,Mexican Restaurant,Seafood Restaurant,Deli / Bodega,Cuban Restaurant,Dumpling Restaurant,Ramen Restaurant,Café,Falafel Restaurant,Gastropub
14,0,Marble Hill,1.428571,13.857143,Sandwich Place,Deli / Bodega,Diner,Donut Shop,American Restaurant,Pizza Place,Asian Restaurant,Steakhouse,Bakery,Fast Food Restaurant
15,3,Midtown,2.166667,143.222222,Sushi Restaurant,Steakhouse,Vietnamese Restaurant,Salad Place,Hawaiian Restaurant,French Restaurant,Food Truck,Mediterranean Restaurant,Deli / Bodega,Cuban Restaurant
16,1,Murray Hill,2.526316,234.315789,Japanese Restaurant,Italian Restaurant,Bagel Shop,Burger Joint,Vietnamese Restaurant,Sandwich Place,Hawaiian Restaurant,Vegetarian / Vegan Restaurant,Jewish Restaurant,Mediterranean Restaurant
17,0,Roosevelt Island,1.400000,8.500000,Deli / Bodega,Pizza Place,Greek Restaurant,Chinese Restaurant,Restaurant,Sandwich Place,Café,Noodle House,Japanese Restaurant,Fast Food Restaurant
18,2,Soho,2.250000,805.000000,Italian Restaurant,Mediterranean Restaurant,Bakery,Pizza Place,Mexican Restaurant,Spanish Restaurant,French Restaurant,Vegetarian / Vegan Restaurant,Food Truck,Filipino Restaurant
19,1,Tribeca,2.578947,332.315789,Greek Restaurant,American Restaurant,Café,Steakhouse,Bakery,Indian Restaurant,Italian Restaurant,Korean Restaurant,New American Restaurant,Salad Place
20,1,Upper East Side,2.550000,167.050000,Italian Restaurant,French Restaurant,American Restaurant,Pizza Place,Mexican Restaurant,Latin American Restaurant,Japanese Restaurant,Burrito Place,Salad Place,Sandwich Place
21,3,Upper West Side,2.000000,317.850000,Seafood Restaurant,Italian Restaurant,American Restaurant,Bakery,Southern / Soul Food Restaurant,Chinese Restaurant,Ramen Restaurant,Indian Restaurant,Vegetarian / Vegan Restaurant,Mediterranean Restaurant
22,0,Washington Heights,1.777778,56.166667,New American Restaurant,Deli / Bodega,Café,Bakery,Pizza Place,Breakfast Spot,Latin American Restaurant,Restaurant,Caribbean Restaurant,Italian Restaurant
23,3,Yorkville,1.900000,87.300000,Italian Restaurant,Deli / Bodega,Vietnamese Restaurant,Bagel Shop,Diner,German Restaurant,Café,Sandwich Place,Burger Joint,Mexican Restaurant

In [90]:
manhattan_merged = manhattan_data[manhattan_data['Neighborhood'].isin(neighborhoods_venues_sorted['Neighborhood'])]

In [91]:
manhattan_merged.shape

(24, 4)

In [92]:

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
manhattan_merged = manhattan_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

manhattan_merged.head() # check the last columns!

,Borough,Neighborhood,Latitude,Longitude,Cluster Labels,price_tier,likes_count,1st Most Common Restaurant,2nd Most Common Restaurant,3rd Most Common Restaurant,4th Most Common Restaurant,5th Most Common Restaurant,6th Most Common Restaurant,7th Most Common Restaurant,8th Most Common Restaurant,9th Most Common Restaurant,10th Most Common Restaurant
0,Manhattan,Marble Hill,40.876551,-73.910660,0,1.428571,13.857143,Sandwich Place,Deli / Bodega,Diner,Donut Shop,American Restaurant,Pizza Place,Asian Restaurant,Steakhouse,Bakery,Fast Food Restaurant
1,Manhattan,Chinatown,40.715618,-73.994279,0,1.529412,265.823529,Chinese Restaurant,Noodle House,Sandwich Place,Pizza Place,Spanish Restaurant,Italian Restaurant,English Restaurant,New American Restaurant,Bakery,Greek Restaurant
2,Manhattan,Washington Heights,40.851903,-73.936900,0,1.777778,56.166667,New American Restaurant,Deli / Bodega,Café,Bakery,Pizza Place,Breakfast Spot,Latin American Restaurant,Restaurant,Caribbean Restaurant,Italian Restaurant
3,Manhattan,Inwood,40.867684,-73.921210,0,1.578947,25.947368,Mexican Restaurant,Restaurant,Café,Deli / Bodega,American Restaurant,Bakery,Spanish Restaurant,Latin American Restaurant,Diner,Pizza Place
4,Manhattan,Hamilton Heights,40.823604,-73.949688,0,1.450000,39.800000,Café,Pizza Place,Bakery,Mexican Restaurant,Caribbean Restaurant,Gastropub,Mediterranean Restaurant,Latin American Restaurant,Burger Joint,Japanese Restaurant

# cluster map

In [93]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(manhattan_merged['Latitude'], manhattan_merged['Longitude'], manhattan_merged['Neighborhood'], manhattan_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

# Cluster 1

In [283]:
manhattan_merged.loc[manhattan_merged['Cluster Labels'] == 0, manhattan_merged.columns[[1] + list(range(5, manhattan_merged.shape[1]))]]

,Neighborhood,price_tier,likes_count,1st Most Common Restaurant,2nd Most Common Restaurant,3rd Most Common Restaurant,4th Most Common Restaurant,5th Most Common Restaurant,6th Most Common Restaurant,7th Most Common Restaurant,8th Most Common Restaurant,9th Most Common Restaurant,10th Most Common Restaurant
0,Marble Hill,1.428571,13.857143,Sandwich Place,American Restaurant,Deli / Bodega,Chinese Restaurant,Seafood Restaurant,Pizza Place,Vegetarian / Vegan Restaurant,Diner,Donut Shop,Steakhouse
1,Chinatown,1.529412,265.823529,Chinese Restaurant,Noodle House,Sandwich Place,Pizza Place,Spanish Restaurant,Italian Restaurant,English Restaurant,New American Restaurant,Bakery,Greek Restaurant
2,Washington Heights,1.777778,56.166667,Bakery,New American Restaurant,Deli / Bodega,Café,Pizza Place,Latin American Restaurant,Restaurant,Caribbean Restaurant,Breakfast Spot,Burger Joint
3,Inwood,1.578947,25.947368,Restaurant,Mexican Restaurant,Café,Deli / Bodega,American Restaurant,Bakery,Pizza Place,Spanish Restaurant,Diner,Latin American Restaurant
4,Hamilton Heights,1.450000,39.800000,Café,Pizza Place,Caribbean Restaurant,Bakery,Mexican Restaurant,Food Truck,Gastropub,Indian Restaurant,Italian Restaurant,Sushi Restaurant
7,East Harlem,1.600000,41.450000,Mexican Restaurant,Latin American Restaurant,Thai Restaurant,Bakery,Pizza Place,Sandwich Place,French Restaurant,Café,Taco Place,Steakhouse
11,Roosevelt Island,1.400000,8.500000,Deli / Bodega,Noodle House,Pizza Place,Greek Restaurant,Restaurant,Sandwich Place,Café,Chinese Restaurant,Japanese Restaurant,Falafel Restaurant

# Cluster 2

In [284]:
manhattan_merged.loc[manhattan_merged['Cluster Labels'] == 1, manhattan_merged.columns[[1] + list(range(5, manhattan_merged.shape[1]))]]

,Neighborhood,price_tier,likes_count,1st Most Common Restaurant,2nd Most Common Restaurant,3rd Most Common Restaurant,4th Most Common Restaurant,5th Most Common Restaurant,6th Most Common Restaurant,7th Most Common Restaurant,8th Most Common Restaurant,9th Most Common Restaurant,10th Most Common Restaurant
8,Upper East Side,2.550000,167.050000,Italian Restaurant,French Restaurant,Pizza Place,American Restaurant,Mexican Restaurant,Latin American Restaurant,Japanese Restaurant,Burrito Place,Salad Place,Sandwich Place
13,Lincoln Square,2.450000,282.800000,Café,American Restaurant,Italian Restaurant,Mediterranean Restaurant,French Restaurant,Food Truck,Bakery,Mexican Restaurant,Burger Joint,Seafood Restaurant
14,Clinton,2.400000,204.133333,American Restaurant,New American Restaurant,Italian Restaurant,Peruvian Restaurant,Mediterranean Restaurant,Restaurant,Sandwich Place,Seafood Restaurant,Pizza Place,Steakhouse
16,Murray Hill,2.526316,234.315789,Japanese Restaurant,Italian Restaurant,Bagel Shop,Burger Joint,Vietnamese Restaurant,Sandwich Place,Hawaiian Restaurant,Vegetarian / Vegan Restaurant,Jewish Restaurant,Mediterranean Restaurant
21,Tribeca,2.578947,332.315789,Greek Restaurant,American Restaurant,Café,Steakhouse,Bakery,Indian Restaurant,Italian Restaurant,Korean Restaurant,New American Restaurant,Salad Place

# Cluster 3

In [285]:
manhattan_merged.loc[manhattan_merged['Cluster Labels'] == 2, manhattan_merged.columns[[1] + list(range(5, manhattan_merged.shape[1]))]]

,Neighborhood,price_tier,likes_count,1st Most Common Restaurant,2nd Most Common Restaurant,3rd Most Common Restaurant,4th Most Common Restaurant,5th Most Common Restaurant,6th Most Common Restaurant,7th Most Common Restaurant,8th Most Common Restaurant,9th Most Common Restaurant,10th Most Common Restaurant
23,Soho,2.25,805.0,Italian Restaurant,Mediterranean Restaurant,Bakery,Spanish Restaurant,Mexican Restaurant,Pizza Place,French Restaurant,Vegetarian / Vegan Restaurant,Food Truck,Filipino Restaurant

# Cluster 4

In [286]:
manhattan_merged.loc[manhattan_merged['Cluster Labels'] == 3, manhattan_merged.columns[[1] + list(range(5, manhattan_merged.shape[1]))]]

,Neighborhood,price_tier,likes_count,1st Most Common Restaurant,2nd Most Common Restaurant,3rd Most Common Restaurant,4th Most Common Restaurant,5th Most Common Restaurant,6th Most Common Restaurant,7th Most Common Restaurant,8th Most Common Restaurant,9th Most Common Restaurant,10th Most Common Restaurant
5,Manhattanville,1.842105,152.421053,Italian Restaurant,Mexican Restaurant,Seafood Restaurant,Gastropub,Deli / Bodega,Cuban Restaurant,Dumpling Restaurant,Ramen Restaurant,Café,Falafel Restaurant
6,Central Harlem,2.000000,37.850000,African Restaurant,Chinese Restaurant,Seafood Restaurant,American Restaurant,Fried Chicken Joint,French Restaurant,Pizza Place,Ethiopian Restaurant,Caribbean Restaurant,Café
9,Yorkville,1.900000,87.300000,Italian Restaurant,Deli / Bodega,Vietnamese Restaurant,Bagel Shop,Mexican Restaurant,German Restaurant,Café,Sandwich Place,Burger Joint,Diner
10,Lenox Hill,2.052632,187.526316,Burger Joint,Thai Restaurant,Bakery,Afghan Restaurant,French Restaurant,Italian Restaurant,Japanese Restaurant,Middle Eastern Restaurant,Chinese Restaurant,Café
12,Upper West Side,2.000000,317.850000,Seafood Restaurant,American Restaurant,Italian Restaurant,Bakery,Southern / Soul Food Restaurant,Mediterranean Restaurant,Chinese Restaurant,Ramen Restaurant,Indian Restaurant,Vegetarian / Vegan Restaurant
15,Midtown,2.166667,143.222222,Sushi Restaurant,Steakhouse,Vietnamese Restaurant,Salad Place,Hawaiian Restaurant,French Restaurant,Food Truck,Mediterranean Restaurant,Deli / Bodega,Cuban Restaurant
20,Lower East Side,1.833333,274.722222,Café,Japanese Restaurant,Vietnamese Restaurant,French Restaurant,Filipino Restaurant,Italian Restaurant,Latin American Restaurant,Mediterranean Restaurant,Mexican Restaurant,Diner

# Cluster 5

In [287]:
manhattan_merged.loc[manhattan_merged['Cluster Labels'] == 4, manhattan_merged.columns[[1] + list(range(5, manhattan_merged.shape[1]))]]

,Neighborhood,price_tier,likes_count,1st Most Common Restaurant,2nd Most Common Restaurant,3rd Most Common Restaurant,4th Most Common Restaurant,5th Most Common Restaurant,6th Most Common Restaurant,7th Most Common Restaurant,8th Most Common Restaurant,9th Most Common Restaurant,10th Most Common Restaurant
17,Chelsea,2.277778,513.611111,Japanese Restaurant,Italian Restaurant,Seafood Restaurant,French Restaurant,Bakery,New American Restaurant,Chinese Restaurant,Sandwich Place,Middle Eastern Restaurant,Indian Restaurant
18,Greenwich Village,2.157895,477.578947,Italian Restaurant,Sushi Restaurant,French Restaurant,Café,New American Restaurant,Food Truck,Bagel Shop,Snack Place,Sandwich Place,English Restaurant
19,East Village,1.888889,588.500000,Vietnamese Restaurant,Vegetarian / Vegan Restaurant,Pizza Place,American Restaurant,Burger Joint,Korean Restaurant,Ramen Restaurant,Caribbean Restaurant,Japanese Restaurant,Scandinavian Restaurant
22,Little Italy,1.800000,501.250000,Café,Pizza Place,Sandwich Place,Snack Place,Italian Restaurant,Dumpling Restaurant,Mediterranean Restaurant,Noodle House,Salad Place,Seafood Restaurant